.All-Todo
{
background-color:rgb(129, 118, 125);
margin: 30px 0px;
border-radius: 5px;
padding: 20px;
position: relative;
color: black;
}
.All-Todo i:hover
{
cursor: pointer;
}
.E,.X
{
background: linear-gradient(violet,purple);
border: none;
padding: px;
margin: 5px 0px 0px 0px;
border-radius: 5px;
color:skyblue;
margin-right: 5px;
}